[submodule "gipsat"]
	path = gipsat
	url = git@github.com:gipsyh/gipsat.git
[submodule "aig-rs"]
	path = aig-rs
	url = git@github.com:gipsyh/aig-rs.git
[submodule "giputils"]
	path = giputils
	url = git@github.com:gipsyh/giputils.git
[submodule "logic-form"]
	path = logic-form
	url = git@github.com:gipsyh/logic-form.git
[submodule "minisat-rs"]
	path = minisat-rs
	url = git@github.com:gipsyh/minisat-rs.git
[submodule "transys"]
	path = transys
	url = git@github.com:gipsyh/transys.git
[submodule "cadical-rs"]
	path = cadical-rs
	url = git@github.com:gipsyh/cadical-rs.git
[submodule "cryptominisat-rs"]
	path = cryptominisat-rs
	url = git@github.com:gipsyh/cryptominisat-rs.git
[submodule "satif"]
	path = satif
	url = https://github.com/gipsyh/satif.git
